* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #245ca9;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #1e5097;
    box-shadow: 0 0px 20px 13px #00000040;
    width: 90vw;
    min-height: 85vh;
    position: relative;


}

@media (max-width:767px) {
    .container {
        width: 100vw;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    text-transform: uppercase;

}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo .image {
    width: 50px;
    font-size: 30px;
    color: white;

}

nav .logo p {
    font-size: 30px;
    color: white;
}

nav .logo .image img {
    width: 100%;
}

nav .links {
    display: flex;
    align-items: center;

}

nav .links li:not(:last-child) {
    padding-right: 30px;
}

nav .links li a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 20px;

    opacity: 0.5;
    transition: 0.5s;
}

nav .links li a:hover {
    opacity: 1;
}

#active {
    opacity: 1;
    position: relative;
}

#active::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    opacity: .2;
    top: 15%;
    left: 5%;
}

.btn {
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 15px;
    transition: 0.5s;

}

@media (max-width:1110px) {
    nav .btn {
        display: none;
    }
}

@media (max-width:991px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

}

@media (max-width:767px) {


    nav .links li a {
        font-size: 14px;
        padding: 5px;
    }

    nav .links li:not(:last-child) {
        padding-right: 0px;
    }
}

.btn:hover {
    background-color: white;
    color: #1e5097;
}


.container .photo {
    position: absolute;
    top: 55%;
    right: 10%;
    width: 380px;
    transform: translateY(-50%);
    z-index: 1;

}



.container .photo img {
    width: 100%;
    opacity: .7;
    position: relative;
}

.container .photo img::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 200px;
    height: 20px;
}

.container .parent {
    padding-left: 60px;
    padding-right: 10px;
    color: white;
    width: 100%;
    z-index: 2;
    position: relative;
}

.container .parent .text {
    max-width: 450px;
    padding-bottom: 30px;
}

.container .parent .text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.container .parent .text p {
    opacity: .6;
    font-size: 15px;
    line-height: 1.6;

}

@media (max-width:767px) {
    .container .parent {
        padding-left: 10px;
    }

    .container .parent .text h1 {
        font-size: 45px;
    }

    .container .parent .text p {
        font-size: 14px;
    }
}

.container .parent .info h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container .parent .info .details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.container .parent .info .details .box {
    background-color: #2762b5;
    text-align: center;
    padding-top: 15px;

}

.container .parent .info .details .box h3 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;

}

.container .parent .info .details .box p {
    opacity: .8;
}

.container .parent .info .details .box p:last-child {
    background-color: #356dba;
    width: 100%;

    padding: 10px;
}

.container .parent .last p {
    opacity: .6;
    max-width: 450px;
    margin-bottom: 45px;
    font-size: 14px;
}

.container .parent .last a {
    padding: 10px 30px;
    width: 150px;
    text-align: center;
    display: inline-block;
}

.container .parent .icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

}

.container .parent .icons .icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    opacity: .5;
    transition: 0.5s;
}

.container .parent .icons .icon:nth-child(2) {
    opacity: 1;
}

.container .parent .icons .icon:hover {
    opacity: 1;
}


.container .parent .icons .icon image img {
    width: 100%;
}

.container .parent .icons .icon p {
    padding-top: 10px;
    font-size: 14px;
}

.container .parent .can-info {
    position: absolute;
    bottom: 30px;
    right: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #356dba;
    line-height: 2;
    letter-spacing: 2px;


    grid-column: 9/12;
}

.container .parent .can-info .main {
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    padding-bottom: 10px;
}

.container .parent .can-info p {
    opacity: 0.5;
    font-size: 14px
}
